body {
  font-family: Arial, sans-serif;
  background-color: #183450;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #ffffff;
}

h2 {
  text-align: center;
  color: #28a745;
}

div {
  margin: 10px 0;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

span {
  font-weight: bold;
}

input[type="range"] {
  width: 200px;
}

input[type="number"],
select {
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
}

input[type="number"]:focus,
select:focus {
  border-color: #80bdff;
  outline: none;
}

button {
  background-color: #000000;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #000000;
}

.prediction {
  margin-top: 20px;
  font-size: 1.5em;
  text-align: center;
}

select {
  cursor: pointer;
}