@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
  background-color: #1b3e72;
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-img {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('assets/flat-design-silver-stars-background.png');
  background-repeat: no-repeat;
  background-size: auto;
  opacity: 0.1;
  filter: blur(4px);
  z-index: 0;
  pointer-events: none;
}

.ctitle {
  font-family: 'Yeseva One';
  margin-bottom: 3em;
}

#title {
  font-size: 10em;
  margin-bottom: 0;
  text-align: center;
  color: #ffffff;
}

#subtitle {
  font-size: 2em;
  text-align: center;
  color: #ddc392;
}

h2 {
  text-align: center;
}

h3 {
  margin: 0 0 30px 0;
  text-align: center;
  font-size: 30px;
}

div {
  margin: 10px 0;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

.title-ct {
  font-family: 'Yeseva One';
}

.three-container {
  display: flex;
  flex-direction: row;
}

.input-container{
  max-width: 280px;
  margin: 50px;
  padding: 40px;
  border: 5px solid #202020;
  border-radius: 30px;
  background-color: #202020;
}

.sleep-container{
  max-width: 280px;
  margin: 50px;
  padding: 40px;
  border: 5px solid #202020;
  border-radius: 30px;
  background-color: #202020;
}

.health-container{
  max-width: 280px;
  margin: 50px;
  padding: 40px;
  border: 5px solid #202020;
  border-radius: 30px;
  background-color: #202020;
}

.input-container span {
  font-weight: 500;
}

.sleep-span{
  font-weight: 500;
}

.health-container span {
  font-weight : 500;
}

span {
  font-weight: bold;
}

.inputs {
  font-family : Montserrat;
}

input {
  box-sizing: border-box;
}

input[type="range"] {
  width: 200px;
}

input[type="number"],
select {
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  width: 100%;
}

input[type="number"]:focus,
select:focus {
  border-color: #80bdff;
  outline: none;
}

.predict-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

#buttonid {
  font-size: 24px;
  padding: 20px 40px;
  border-radius: 20px;
}

button {
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #000000;
}

.predict-container {
  font-size: 30px;
  text-align: center;
  color: #28a745;
  margin: 0;
}

.h2-prediction {
  background-color: #242424;
  margin-inline: 20%;
  padding: 20px;
  border-radius: 20px;
}

.bot-container {
  margin-inline: 25%;
  background-color: rgba(0, 0, 0, .3);
  padding: 30px;
  border-radius: 20px;
}

select {
  cursor: pointer;
}